<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

    <title>existdb demo</title>

    <!--
        <link rel="stylesheet" type="text/css" href="resources/css/vendor/codemirror.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/vendor/ttcn.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/vendor/lint.css"/>
    -->

    <script src="../assets/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>


    <!--<link rel="import" href="../editor/odd-model.html"/>-->
    <script type="module">
        import '../assets/@polymer/iron-demo-helpers/demo-pages-shared-styles.js';
        import '../assets/@polymer/iron-demo-helpers/demo-snippet.js';
        import '../editor/odd-code-editor.js';
    </script>

</head>
<body>
    <demo-snippet>
        <template>

            <div style="width:400px; height:50px;">
                <odd-code-editor mode="xquery" placeholder="[foo]" code=""></odd-code-editor>
            </div>
            <div style="width:400px; height:50px;">
                <odd-code-editor mode="xquery" placeholder="[foo]" code="ancestor::teiHeader"></odd-code-editor>
            </div>
            <div style="width:400px; height:50px;">
                <odd-code-editor mode="xquery" placeholder="[foo]" code="abbr and expan"></odd-code-editor>
            </div>
            <div style="width:400px; height:50px;">
                <odd-code-editor mode="css" placeholder="[bar]" code="font-style: italic;"></odd-code-editor>
            </div>
        </template>
    </demo-snippet>

</body>
</html>
