<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

        <title>pb-grid Demo</title>
        <script src="../assets/@webcomponents/webcomponentsjs/webcomponents-loader.js"> </script>
        <script type="module">
            import '../pb-document.js';
            import '../pb-grid-action.js';
            import '../pb-grid.js';
            import '../pb-panel.js';
            import '../pb-facsimile.js';
            import '../pb-view.js';
            import '../assets/@polymer/paper-button/paper-button.js';
            import '../assets/@polymer/paper-icon-button/paper-icon-button.js';
            import '../assets/@polymer/iron-icon/iron-icon.js';
            import '../assets/@polymer/iron-icons/iron-icons.js';
            import '../assets/@polymer/iron-demo-helpers/demo-pages-shared-styles';
        </script>
        <!-- FIXME(polymer-modulizer):
        todo: we might have to reconsider this custom-style loading

        These imperative modules that innerHTML your HTML are
        a hacky way to be sure that any mixins in included style
        modules are ready before any elements that reference them are
        instantiated, otherwise the CSS @apply mixin polyfill won't be
        able to expand the underlying CSS custom properties.
        See: https://github.com/Polymer/polymer-modulizer/issues/154

            <script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<custom-style>
            <style is="custom-style" include="demo-pages-shared-styles">
                pb-facsimile {
                    --pb-facsimile-height: 480px;
                }
            </style>
        </custom-style>`;

document.body.appendChild($_documentContainer.content);
</script>

        -->
        <custom-style>
            <style is="custom-style" include="demo-pages-shared-styles">
                pb-facsimile {
                    --pb-facsimile-height: 480px;
                }
            </style>
        </custom-style>
    </head>

    <body>
        <demo-snippet>
            <template>
                <pb-document id="document1" path="test/orlik_to_serafin.xml" odd="serafin" view="single"></pb-document>

                <pb-grid-action action="add" class="grid-add" grid="#grid" initial="1">
                    <paper-button><iron-icon icon="icons:add"></iron-icon> Add Column</paper-button>
                </pb-grid-action>
                <pb-grid id="grid" panels="[0]" subscribe="transcription">
                    <template>
                        <pb-panel emit="transcription">
                            <pb-grid-action grid="#grid" slot="toolbar" action="remove">
                                <paper-icon-button icon="icons:close"></paper-icon-button>
                            </pb-grid-action>
                            <template title="Transcription">
                                <pb-view src="document1" xpath="! (.//text[@xml:lang = 'la']/body | .//text/body)[1]" emit="transcription"></pb-view>
                            </template>
                            <template title="Translation">
                                <pb-view src="document1" xpath="//text[@xml:lang='pl']/body" subscribe="transcription"></pb-view>
                            </template>
                            <template title="Facsimile">
                                <pb-facsimile base-uri="https://apps.existsolutions.com/cantaloupe/iiif/2/"
                                    facsimiles='["15929_000_IDL5772_BOss12034_IIIp79.jpg"]'
                                    default-zoom-level="0" show-navigator="show-navigator"
                                    show-navigation-control="show-navigation-control"></pb-facsimile>
                            </template>
                        </pb-panel>
                    </template>
                </pb-grid>
            </template>
        </demo-snippet>
    </body>
</html>
