<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

        <title>pb-highlight Demo</title>
        <script src="../../@webcomponents/webcomponentsjs/webcomponents-loader.js"> </script>
        <script type="module">
            import '../pb-highlight';
        </script>
        <!-- FIXME(polymer-modulizer):
        These imperative modules that innerHTML your HTML are
        a hacky way to be sure that any mixins in included style
        modules are ready before any elements that reference them are
        instantiated, otherwise the CSS @apply mixin polyfill won't be
        able to expand the underlying CSS custom properties.
        See: https://github.com/Polymer/polymer-modulizer/issues/154
        -->
    <script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<custom-style>
            <style is="custom-style" include="demo-pages-shared-styles">
                main {
                    display: flex;
                    justify-content: space-between;
                }

                pb-view {
                    flex: 1 0;
                }
            </style>
        </custom-style>`;

document.body.appendChild($_documentContainer.content);
</script>
    </head>

    <body>
        <script type="module">
const $_documentContainer = document.createElement('template');

$_documentContainer.innerHTML = `<demo-snippet>
            <template>
                <main>
                    <div>
                        <p><pb-highlight key="s1" highlight-self="highlight-self">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua.</pb-highlight> <pb-highlight key="s2">At vero eos et accusam et justo duo dolores et ea rebum.</pb-highlight>
                        <pb-highlight key="s3">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</pb-highlight></p>
                    </div>
                    <div>
                        <p><pb-highlight key="s1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua.</pb-highlight> <pb-highlight key="s2">At vero eos et accusam et justo duo dolores et ea rebum.</pb-highlight>
                        <pb-highlight key="s3">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</pb-highlight></p>
                    </div>
                </main>
            </template>
        </demo-snippet>`;

document.body.appendChild($_documentContainer.content);
</script>
    </body>
</html>
