<link rel="import" href="bower_components/polymer/polymer.html">


<link rel="import" href="tei-schemaSpec.html">
<link rel="import" href="tei-elementSpec.html">
<link rel="import" href="tei-model.html">
<link rel="import" href="tei-outputRendition.html">

<!--
`existdb-odd-editor`
An element to edit TEI ODD files

@demo demo/index.html 
-->

<dom-module id="existdb-odd-editor">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
      }
    </style>
    <h2>ODD rule editor</h2>
    <content></content>
  </template>

  <script>
    Polymer({

      is: 'existdb-odd-editor',

      properties: {
      },


    });
  </script>
</dom-module>
