<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/paper-styles/color.html">
<link rel="import" href="bower_components/paper-styles/typography.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">


<link rel="import" href="tei-schemaSpec.html">

<!--
`existdb-odd-editor`
An element to edit TEI ODD files

@demo demo/index.html 
-->

<dom-module id="existdb-odd-editor">
    <template>
        <style>
            :host {
                display: block;
                position: relative;

                --paper-input-container:{
                    color:white;
                };

            }


            .editor {
                padding: 10px;
                /*background: var(--google-blue-700);*/
                /*color: white;*/
            }

        </style>
        <div class="editor">
            <h1>ODD Rule Editor</h1>
            <paper-input label="Filename"></paper-input>

            <content></content>
        </div>
    </template>

    <script>
        Polymer({

            is: 'existdb-odd-editor',

            properties: {},


        });
    </script>
</dom-module>
