<!doctype html>

<html>
  <head>
    <title>existdb-odd-editor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../webcomponentsjs/webcomponents-lite.js"></script>
    <!--<link rel="import" href="../iron-component-page/iron-component-page.html">-->


    <link rel="import" href="existdb-odd-editor.html">

  </head>
  <body unresolved="">
    <!--<iron-component-page src="existdb-odd-editor.html"></iron-component-page>-->
    <existdb-odd-editor>
      <tei-schemaSpec ident="myteisimple" start="TEI teiCorpus" source="teisimple.odd">
      </tei-schemaSpec>

    </existdb-odd-editor>
  </body>
</html>
