import { PolymerElement } from './assets/@polymer/polymer/polymer-element.js';
import { html } from './assets/@polymer/polymer/lib/utils/html-tag.js';
<script type="module" src="./pb-mixin.js"></script>

<dom-module id="seed-element">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <slot></slot>
    </template>

    <script type="module">
import { PolymerElement } from './assets/@polymer/polymer/polymer-element.js';
import './pb-mixin.js';
/**
 * `seed-element`
 *
 *
 * @customElement
 * @polymer
 * @demo demo/seed-element.html
 * @appliesMixin PbMixin
 */
class SeedElement extends PbMixin(PolymerElement) {
    static get is() {
        return 'seed-element';
    }

    static get properties() {
        return {
            prop1:{
                type: String
            }
        };
    }

    connectedCallback() {
        super.connectedCallback();
    }


}

window.customElements.define(SeedElement.is, SeedElement);
</script>
</dom-module>
