<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">

<link rel="import" href="tei-model.html">

<!---->
<!--
`tei-elementSpec`
an ODD elementSpec element

@demo demo/index.html 
-->

<dom-module id="tei-elementSpec">
  <template>
    <style>
      :host {
        display: block;
        background: whitesmoke;
        border:1px solid #ddd;
        position: relative;
        margin-bottom:20px;
        position: relative;
      }
      h2{
        margin:0;
        font-family: monospace;
        font-weight: 700;
        background: #03A9F4;
        padding:26px;
        color:white;
      }
      h2:before{
        position: absolute;
        content:'elementSpec';
        font-size:12px;
        font-style: italic;
        background: #0288D1;
        padding: 2px 6px;
        top:0;
        left: 0;
        font-weight: 300;
      }
/*
      .element::before{
        content:'elementSpec';
        display: block;
        font-size: 1em;
      }
*/
      .test{
        position: absolute;
        right: 10px;
        top:3px;
      }
    </style>
    <h2>{{ident}}</h2>
    <div>Mode: {{mode}}</div>
    <content></content>

    <!--<h2 title="elementSpec">{{ident}}</h2>-->

  </template>

  <script>
    Polymer({

      is: 'tei-elementSpec',

      properties: {
        prop1: {
          type: String,
          value: 'tei-elementSpec',
        },
      },

    });
  </script>
</dom-module>
