<?xml version="1.0" encoding="UTF-8"?>
<ul xmlns:i18n="http://exist-db.org/xquery/i18n" class="navbar-nav tp-toolbar" data-template="i18n:translate" data-catalogues="resources/i18n">
    <li class="nav-item">
        <a class="nav-link toc-toggle" data-toggle="offcanvas" data-target="#sidebar" data-canvas="#tp-canvas" title="i18n(contents)">
            <i class="material-icons">view_list</i>
        </a>
    </li>
    <li class="nav-item tp-dropdown-wrapper">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">print</i>
            <span class="tp-hidden-xs">PDF</span>
        </a>
        <!-- Download options -->
        <ul class="dropdown-menu" role="menu">
            <li class="nav-item dropdown">
                <a class="download-link nav-link" data-template="browse:download-link" data-template-type="pdf">
                    <i18n:text key="pdf-fo"/>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" target="_new" data-template="browse:download-link" data-template-type="pdf" data-template-source="true">
                    <i18n:text key="fo-source"/>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="download-link nav-link" data-template="browse:download-link" data-template-type="tex">
                    <i18n:text key="pdf-latex"/>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" target="_new" data-template="browse:download-link" data-template-type="tex" data-template-source="true">
                    <i18n:text key="latex-source"/>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link download-link" data-template="browse:download-link" data-template-type="epub" title="i18n(epub-download)">
            <i class="material-icons">book</i>
            <span class="tp-hidden-xs">ePUB</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-template="pages:xml-link" title="View XML Source">
            <i class="material-icons">code</i>
            <span class="tp-hidden-xs">XML</span>
        </a>
    </li>
    <li class="nav-item">
        <a target="_new" class="nav-link" data-template="browse:download-link" data-template-type="" data-template-mode="plain" title="i18n(single-page)">
            <i class="material-icons">pageview</i>
            <span class="tp-hidden-xs">
                <i18n:text key="plain"/>
            </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" id="zoom-in">
            <i class="material-icons">zoom_in</i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" id="zoom-out">
            <i class="material-icons">zoom_out</i>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="switch-view" data-template="pages:switch-view" title="i18n(view-switch)">
            <i class="material-icons">import_contacts</i>
        </a>
    </li>

</ul>
